body {
    background: url(../images/stage1.jpg)no-repeat center fixed;
  
    font-family: 'Inconsolata', monospace !important;
}

.fighters {
    height: 250px;
    padding: 0px 25px;
}

.box, .box1, .score {
    font-size: 25px;
    font-weight: bolder;
}